# Core PyTorch
torch
torchvision
torchaudio

# ML & Data Processing
scikit-learn
numpy
pandas

# Visualization
matplotlib
seaborn

# NLP & Transformers
transformers
datasets
nltk


# Image Processing
opencv-python
pillow

